@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f19c9c;
  color: #d4ecf8;
  font-family: 'Open+Sans', sans-serif;
  font-size: medium;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  margin: 0;
}

h1 {
  padding-bottom: 2%;
  font-family: 'Open+Sans', sans-serif;
  font-size: xx-large;
  height: 1vh;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h5 {
  margin: 1% 0% 0% 0%;
  font: 10pt sans-serif;
  text-align: center;
}

.taskbar {
  background-color: rgba(108, 206, 198, 0.406);
  width: 97%;
  height: 1.5em;
  margin-bottom: 0%;
  text-align: center;

}

.posts-container {
  /* border: 1px solid #9fa4a8; */
  /* background-color: rgba(188, 184, 181, 0.406); */
  /* padding: 2%; */
  height: 100vh;
  margin: auto;
  flex: 200;
}

.post {
  background-color: rgba(188, 184, 181, 0.406);
  border-radius: 5px;
  /* width: 50lvw; */
  border-radius: 10px;
  margin: 10px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
}


.post.active {
  background-color: rgba(210, 169, 81, 0.705);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.post-title {
  margin: 12px 2px 0px 2px;
  text-align: center;
}

.post-body {
  display: none;
  margin: 30px 0 0;
  size: 12pt;
}


.post.active .post-body {
  display: block;
}

.post-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 1em;
  height: 30px;
  width: 30px;
}

.post-toggle.flip {
  transform: scaleY(-1);
}