<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your favorite copypasta webapp." />
    <link href="/static/css/style.css" rel="stylesheet" />
    <title>Pastatime</title>
  </head>
  <body>
    <h1 class="title"> Title </h1>
    <div class="container">
      <p> content </p>
      <p> content </p>
      <p> content </p>
      <p> content </p>
      <p> content </p>
      <p> content </p>

    </div>
    <script src="script.js"></script>
  </body>
</html>
